{% extends 'layout.html' %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static',filename = 'default/css/defaultcss.css' ) }}">
{% endblock %}
{% block layinfo %}
    <div class="container-fluid">
        <div class="row">
            <form method="post" action="" enctype="multipart/form-data">
                <input type="hidden" id="auditstatus" name="auditstatus" value="{{ data.requeststatus }}"/>
                <input type="hidden" id="auditaction" name="auditaction" />
                <input type="hidden" id="taskuserid" name="taskuserid" value="{{ data.taskuserid }}"/>
                <input name="task_id" type="hidden" value="{{ data.task_id }}"/>
                <div class="hold-transition skin-blue sidebar-mini">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <td class="txtleft"><h4>任务编号：</h4></td>
                            <td><h4>{{ data.task_id }}</h4>
                            </td>
                        </tr>
                        <tr>
                            <td class="txtleft"><h4>任务名称：</h4></td>
                            <td>
                                <h4>
                                    {% if data.requeststatus == '1' %}
                                        <input name="taskname" type="text" class="form-control" placeholder="请输入任务名称"
                                               value="{{ data.taskname }}"/>
                                    {% else %}
                                        {{ data.taskname }}
                                    {% endif %}
                                </h4>
                            </td>
                        </tr>
                        <tr>
                            <td class="txtleft"><h4>扫描策略：</h4></td>
                            <td>
                                <h4>
                                    {% if data.taskpolicyid == 0 %}
                                        <select class="form-control" name="taskscanpolicy">
                                            <option value="{{ data.taskpolicyid }}">{{ data.taskpolicy }}</option>
                                            {% for p in data.taskpolicysel %}
                                                <option value="{{ p }}">{{ data.taskpolicysel[p] }}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        {{ data.taskpolicy }}
                                    {% endif %}
                                </h4>
                            </td>
                        </tr>
                        <tr>
                            <td class="txtleft"><h4>任务目标：</h4></td>
                            <td>
                                <h4>
                                    {% if data.requeststatus == '1' %}
                                        <input name="tasktarget" type="text" class="form-control"
                                               placeholder="请输入已有设备地址ip/ip地址段"
                                               value="{{ data.tasktarget }}"/>
                                    {% else %}
                                        {{ data.tasktarget }}
                                    {% endif %}
                                </h4>
                            </td>
                        </tr>
                        <tr>
                            <td class="txtleft"><h4>任务描述：</h4></td>
                            <td>
                                <h4>
                                    {% if data.requeststatus == '1' %}
                                        <textarea name="tasktargetinfo" class="form-control"
                                                  placeholder="本次任务说明:安全检查、漏洞复查等">{{ data.tasktargetinfo }}</textarea>
                                    {% else %}
                                        {{ data.tasktargetinfo }}
                                    {% endif %}
                                </h4>
                            </td>
                        </tr>
                        <tr>
                            <td class="txtleft"><h4>申请人：</h4></td>
                            <td><h4>{{ data.taskusername }}</h4></td>
                        </tr>
                        <tr>
                            <td class="txtleft"><h4>申请状态：</h4></td>
                            <td><h4>
                                {% if data.requeststatus == '1' %}
                                    创建中
                                {% elif data.requeststatus == '2' %}
                                    待审批
                                {% elif data.requeststatus == '3' %}
                                    审批通过
                                {% else %}
                                    审批拒绝
                                {% endif %}
                            </h4></td>
                        </tr>
                        <tr>
                            <td class="txtleft"><h4>创建时间：</h4></td>
                            <td><h4>{{ data.createtime }}</h4></td>
                        </tr>
                        {% if data.requeststatus != '1' %}
                            <tr>
                                <td class="txtleft"><h4>任务状态：</h4></td>
                                <td><h4>
                                    {% if data.taskstatus == '1' %}
                                        待执行
                                    {% elif data.taskstatus == '2' %}
                                        执行中
                                    {% elif data.taskstatus == '3' %}
                                        已结束
                                    {% elif data.taskstatus == '4' %}
                                        已取消
                                    {% else %}
                                        已暂停
                                    {% endif %}
                                </h4></td>
                            </tr>
                        {% endif %}
                        {% if data.requeststatus == '2' %}
                            <tr>
                                <td class="txtleft"><h4>审批备注：</h4></td>
                                <td><h4><textarea name="auditinfo" class="form-control"
                                                  placeholder="对本次任务的核查说明"></textarea></h4></td>
                            </tr>
                        {% elif data.requeststatus == '4' %}
                            <tr>
                                <td class="txtleft"><h4>审批备注：</h4></td>
                                <td><h4>{{ data.auditinfo }}</h4></td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
                <div class="row">
                    <div class="text-center">
                        <div class="btn-group">
                            <div class="col-xs-6 col-sm-6">
                                <span class="btn btn-primary" id="btnsubmit">提交</span>
                            </div>
                            {% if data.requeststatus == '2' %}
                                <div class="col-xs-6 col-sm-6">
                                    <span class="btn btn-primary" id="btncancel">退回</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{{ url_for('static',filename = 'default/js/defaultjs.js') }}"></script>
    <script>
        var option = {
            type: 'POST',
            url: '/view/tasks_curd',
            dataType: 'json',
            success: function (data) {
                if (data.success == 1) {
                    //showSuccessMsgPlus(data.result);
                    layer.msg(data.result, {icon: 1, time: 2000, zIndex: 200000000}, function () {
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.$('#example2').bootstrapTable('refresh');
                        parent.layer.close(index); //再执行关闭
                    });
                } else {
                    showErrorMsg(data.result)
                }
            },
            error: function (xhr, status, e) {
                showErrorMsg(e);
            }
        };
        $('#btnsubmit').click(function () {
            $('#auditaction').val('1');
            $('form').ajaxSubmit(option);
            return false;
        });
        $('#btncancel').click(function () {
            $('#auditaction').val('0');
            $('form').ajaxSubmit(option);
            return false;
        });
    </script>
{% endblock %}